body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

#controls {
    margin: 20px;
}

#canvasContainer {
    position: relative;
}

#canvas {
    border: 1px solid #ccc;
    touch-action: none; /* タッチ操作が適切に反応するように */
}
